<div class="container">



    <header class="row">
        <div class="col-3 mt-4 d-flex" [routerLink]="['/']">
             <ion-img class="logo" src="https://i.ibb.co/k5PMFzc/Logo.png"></ion-img>
             <h1> Jobs4all</h1> 
        </div>
    </header>

    <main>

        <div class="row content d-flex justify-content-center">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center flex-column">
                <h5 class="mb-4">
                   Faça seu login
                </h5>

            </div> 
            <div class="col-12 mt-4 d-flex flex-wrap justify-content-center">
                <form class="row" [formGroup]="login">
                    <div class="col-12 mb-3">
                      <label for="nome" class="form-label">Nome</label>
                      <input type="text" class="form-control" formControlName="nome" placeholder="Digite seu nome">
                    </div>
                    <div class="col-12 mb-3">
                      <label for="empresa" class="form-label">Empresa</label>
                      <input type="text" class="form-control" id="empresa" formControlName="empresa" placeholder="Digite o nome da empresa na qual é responsável">
                    </div>
                  </form>
            </div>

            <button type="button" class="mt-5 btn btn-primary col-3" (click)="MakeLogin()">Fazer Login</button>
        </div>

        




    </main>


</div>