
header {

    ion-img { 
        width: 100%;
    }
    .logo {
        width: 40px;
        // margin-top: 10px;
    }

    h1 {
        
        font-weight: bold;
        color: #5965E0;
    }

  
}

main {
    h5 {
        font-weight: bold;
    }
}

@media (min-width: 281px) and (max-width: 767px) {
  
    /* CSS */

    .content {
        display: flex;
        flex-direction: column-reverse;
    }
    
  }